*,
::after,
::before {
  box-sizing: inherit;
  outline: none;
}

html {
  box-sizing: border-box;
  min-width: @min-width;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;

  font-family: @f-base-family;
  font-size: @f-base-size;
  font-weight: @f-base-weight;
  line-height: @f-base-height;
  word-wrap: break-word;

  overflow-x: hidden;
  overflow-y: auto;
  @supports (-webkit-overflow-scrolling: touch) {
    -webkit-overflow-scrolling: touch;
  }

  &._scroll-lock {
    overflow: hidden;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  transition: color @time;
}

iframe {
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

picture {
  display: block;
}

svg {
  fill: currentColor;
}

input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="text"]::-ms-clear,
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,
textarea {
  font: inherit;
  color: inherit;
  &::placeholder {
    font: inherit;
  }
}

textarea {
  resize: vertical;
}

.header{
  .container {
    padding-left: 200px;
    padding-right: 200px;
    width: 100%;
    background-color: red;
  }

  .container-inner {
    max-width: 1000px;
    margin: 0 auto;
  }
}