footer{
  margin-bottom: 100px;
}
.foot-wrap__info {
 /* margin-right: 156px;

  &:last-child {
    margin-right: 0;
  }*/

  & > * {
    margin-right: 1rem;
    width: 50%;

    &:last-child {
      margin-right: 0;
    }
  }

}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.foot {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 755px;
  margin-bottom: 65px;
}

.foot-wrap {
  display: flex;
  justify-content: space-between;
  //width: 842px;

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;

    &:last-child {
      margin-bottom: 145px;
    }
  }

  &__last {
    display: flex;
    justify-content: space-between;
  }
}

.icon-img {
  width: 21.23px;
  height: 21.23px;
  align-items: center;
  margin-right: 17px;
}

.link {
  display: flex;
  justify-content: flex-start;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    color: #4E4B66;
    margin: 0;
  }
}


.list-contacts {
  padding: 0;
  margin: 0;
  counter-reset: b;
  margin-bottom: 24px;
  list-style-type: none;
  -webkit-column-gap: 10px;
  column-gap: 86px;
  -webkit-columns: 2;
  columns: 2;
  column-width: 10px;

  &__item {
    //  display: inline-block;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    letter-spacing: 2px;
    color: #4E4B66;
    display: flex;
    display: inline-block;
    position: relative;
    -webkit-column-break-inside: avoid;


    &:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #4E4B66;

      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }

    &:hover:after {
      width: 100%;
      left: 0;
    }

    @media screen and (max-height: 300px) {
      ul {
        margin-top: 40px;
      }
    }
  }
}


.address {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 33px;
  line-height: 40px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #6672D8;
  margin: 0;
  padding-bottom: 8px;

  &__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    margin: 0;
    color: #6E7191;
  }
}


.contact {
  &__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 2px;
    color: #6E7191;
    margin: 0;
  }

  &__number {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #D9DBE9;
    margin: 0;
  }
}


.security {
  &__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #A0A3BD;
  }
}

.wrapper{
  flex-basis: 800px;
}
.wrap-for-gif{
  width: 100%;
  height: 100%;
  flex-basis: 600px;
}
.map-gif {
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  height: 100%;
}