@media (max-width: 1024px) {
  .footer__container {
    flex-direction: column-reverse;
  }

  .wrap-for-gif {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .foot-wrap__info {
    &.cookies-media {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;

      .address-wrap {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .address {
          font-size: 25px;
          text-align: center;
          white-space: nowrap;

          &__text {
            font-size: 13px;
            text-align: center;
            white-space: nowrap;
            padding-bottom: 22px;
          }
        }
      }
    }

    &.numbers {
      flex-direction: column;
      align-items: center;
    }

    .cookies-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
    }


  }

  .wrap-cookies-media {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }

  .list-contacts__link {
    font-size: 12px;
    color: #6672D8;
  }

  .show-on-map {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #6672D8;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
  }

  .security-text-media {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  .foot-icons-media {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact {
    &__text {
      display: flex;
      justify-content: center;
      text-align: center;
      white-space: nowrap;
      font-size: 14px;
      color: #4956C6;
    }

    &__number {
      display: flex;
      justify-content: center;
      text-align: center;
      white-space: nowrap;
      font-size: 25px;
    }
  }

  .wrap-info {
    margin: 0 auto;
    white-space: nowrap;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    .link__text {
      font-size: 14px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}