.small-cont {
  background-color: darkseagreen;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  &__title{
    color: black;
    font-size: 20px;
    margin: 0;
  }
}

.small-cont1 {
  background-color: papayawhip;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  &__title{
    color: black;
    font-size: 20px;
    margin: 0;
  }
}