.red-cont {
  background-color: red;
  margin: 0 auto;
  padding: 12px;
  width: 100%;
  max-width: 1000px;

  &__title{
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 35px;
  }
  &__input-form{
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  &__input{
    border: none;
    width: 100%;
    max-width: 300px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    color: lightgray;
    &::placeholder {
      color: lightgray;
    }
  }


  &__but{
    border: none;
    background-color: lightgray;
    color: gray;
    width: 100%;
    max-width: 100px;
  }
}






























