.main-carousel {
  @media (max-width: 1366px) {
    &__slide {
      &-content,
      &-images {
        flex-basis: auto;
        width: 50%;
      }

      &-title {
        font-size: 6rem;
        line-height: 1.5;
        margin-bottom: 2rem;
      }

      &-text {
        margin-bottom: 2rem;
      }
    }

    &__slide {
      &-img {
        max-height: 100%;
      }

      &-inner {
        flex-direction: column;
      }

      &-content {
        width: auto;
        text-align: center;
      }
    }


    padding-left: 0;
    padding-right: 0;
    margin-bottom: 5rem;

    &__slide {
      &-images {
        max-width: 40rem;
        width: 100%;
        margin: 0 -3rem;
      }

      &-content {
        padding-left: 3rem;
        padding-right: 3rem;
      }

      &-title {
        color: #D9DBE9;
        font-size: 25px;
        text-align: center;
        -webkit-text-stroke: initial;
        margin-bottom: .7rem;
      }

      &-text {
        font-size: 12px;
        margin-bottom: 0;
        text-align: center;
      }

      &-link {
        display: none;
      }
    }
  }
  .more-details{
    display: flex;
  }
}