.main-carousel {

  &__container {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  &__inner {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__slide {
    padding: 24px 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    opacity: 0 !important;


    & .main-carousel__slide-img {
      img {
        transform: scale(0.7);
        transition: transform @time * 1.5;
      }

    }


    &.swiper-slide-active {
      opacity: 1 !important;

      & .main-carousel__slide-img {
        img {
          transform: scale(1);
        }
      }
    }

    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-images {
      flex-basis: 80rem;
      position: relative;
    }

    &-img {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 80%;
      max-width: 100%;
      max-height: 100%;

      display: flex;
      justify-content: center;

      img {
        width: auto;
      }

      &._phone {
        img {
          position: relative;
          left: -5rem;
        }
      }
    }

    &-bg {
      display: block;
      width: 100%;
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 100%;
        padding-top: 100%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &-content {
      flex-basis: 600px;
    }

    &-title {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 80px;
      line-height: 98px;
      align-items: center;
      -webkit-text-stroke: 1.5px #A0A3BD;
      letter-spacing: 8px;
      text-transform: uppercase;
      color: transparent;
      text-align: left;
      margin: 0;

    }

    &-text {
      letter-spacing: 0.07em;
      line-height: 155%;
      margin-bottom: 39px;
      text-align: left;
    }
  }
}



.more-details {
  display: flex;
  align-items: flex-start;
  text-align: left;

  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__text-details {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #6672D8;
    text-align: left;
    padding-right: 13.32px;
  }

  .blue-arrow {
    width: 13px;
    height: 10px;

  }
}

