@media (max-width: 1366px) {
  .portfolio-nav{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-decoration: underline;
    text-transform: uppercase;
    color: #A0A3BD;
    display: flex;
    justify-content: center;
  }
}