.portfolio{
margin-bottom: 271px;
&__inner{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  flex: 1;
 justify-content: center;
}
  &__block{
    width: 475px;
   &__img{
     //background: url(2b87a665d62a8c311aa4c3e55d55be22.png);
     border: 5px solid #FFFFFF;
     box-sizing: border-box;
     filter: drop-shadow(0px 32px 64px rgba(17, 17, 17, 0.08));
     border-radius: 30px;
     width: 474px;
     height: 292px;
   }
  }

  &__title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 130%;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #6672D8;
    margin: 0;
    padding-bottom: 10px;
  }
  .portfolio-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    color: #4E4B66;
    margin: 0;
    padding-bottom: 27px;
  }
}
.portfolio-nav{
  color: #4E4B66;
  &:hover{
    color: #6672D8;
  }
}