.menu-icon._active {
  top: 50%;
  display: flex;
  align-items: center;
  & .menu-icon__line:before {
    position: absolute;
    top: 7px;
    bottom: 0;
    transform: rotate(-45deg) translate(0, -14%);
  }

  & .menu-icon__line:after {
    position: absolute;
    top: 7px;
    bottom: 0;
    transform: rotate(45deg) translate(0, -14%);
    width: 25px;
  }

  & .menu-body {
    right: 0;
  }
}

