
.header{
  z-index: 2;
  &__panel{
    padding: 45px 79px 45px 0;
  }
  &__panel-inner{
    display: flex;
    justify-content: space-between;
  }
  &__wrap{
   // position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 15%);
  }
  &__logo{
    display: flex;
    align-items: center;
    .img-logo{
      width: 100%;
      height: 100%;
      z-index: 4;
      position: relative;
      max-height: 24.28px;
      max-width: 222px;
    }
    .text1{
      z-index: 4;
      position: relative;
      width: 100%;
      max-width: 226px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      display: flex;
      align-items: center;
      letter-spacing: 1px;
      color: #A0A3BD;
      text-transform: uppercase;
      margin-left: 26px;
    }
  }
}