.header__col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  margin-right: 55px;
}

.lang-select {
  flex-wrap: nowrap;
  display: flex;

  &__but {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #D9DBE9;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    &.media{
      font-size: 30px;
      margin-left: 0;
    }

    &::before {
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      top: 100%;
      right: 43%;
      background-color: #D9DBE9;
      border-radius: 50%;
    }

    &:hover {
      font-weight: 500;
      color: #6672D8;
      transition: all 5ms;

      &:before {
        background-color: #6672D8;
      }
    }
  }
}


.header__col {
  display: flex;
  text-align: center;
}


.contact-us {
  margin-left: 21px;
  margin-right: 21px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;

  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #A0A3BD;

  &:hover {
    font-weight: 500;
    color: #6672D8;
    transition: all 5ms;
  }
}

.menu {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 21px;
  //&:hover {
  //  font-weight: 500;
  //  color: #6672D8;
  //  transition: all 5ms;
  //}
}
.menu-hover{
  position: fixed;
  top: 47px;
  right: 0;
  display: flex;
  align-items: center;
  color: #A0A3BD;
  margin-right: 20px;

  &:hover {
    font-weight: 500;
    color: #6672D8;
    transition: all 5ms;

    & .menu {
      .text {
        color: #6672D8;
      }
    }

    & .menu-icon__line {
      &::before,
      &::after{
        background-color: #6672D8;
      }
    }
  }
}
.menu-icon {
  display: block;
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;

  &__line {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 2px;
      width: 25px;
      transition: 0.3s;
      background-color: #A0A3BD;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 17px;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      background-color: #A0A3BD;
    }
  }
}

