@media (max-width: 950px) {
  .header__panel {
    padding: 40px 30px 40px 30px;
  }

  .menu-hover {
    padding: 40px 0;
    top: 0;
  }
}

@media (max-width: 720px) {
  .menu-icon {
    &__line {
      &:before {
        content: '';
        right: 0;
        left: auto;
      }

      &:after {
        content: '';
        right: 0;
        left: auto;
      }
    }
  }

  .menu-list {
    margin-top: 33px;
    margin-bottom: 33px;

    &__text {
      font-size: 28px;
    }
  }
}

@media (min-width: 720px) {
  .menu-body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}

@media (min-width: 1920px) {
  .menu-body {
    max-width: 50%;
  }
}