.internet-icons{
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  text-align: center;
  &__menu{
    display: flex;
    justify-content: start;
  }
  li:not(:last-child){
    margin-right: 28px;
  }
}