.menu-body {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  padding: 100px 30px 30px 30px;
  transition: right 5.3s;
  overflow: auto;
  z-index: -1;
  max-width: 890px;
  width: 100%;
  display: flex;
  justify-content: center;

  &::after {
    content: '';
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;
  }
}


.menu-burger {
  margin-left: 59px;
}


.menu-list {
  li {
    position: relative;
  }

  &__text-menu {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    color: #A0A3BD;
    margin-bottom: 50px;
  }

  &__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    display: flex;
    align-items: flex-start;
    letter-spacing: 0.08em;
    color: #4E4B66;
    flex-wrap: wrap;
  }

  &__text1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-decoration: underline;
    display: flex;
    line-height: 29px;
    align-items: center;
    letter-spacing: 0.08em;
    color: #A0A3BD;
    margin-top: 30px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}