.ready-solutions {
  &__title-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  &__block-inner {
    display: flex;
    justify-content: space-between;
  }

  &__title-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 130%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #6672D8;
  }

  &__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    color: #4E4B66;
    width: 100%;
    max-width: 732px;
  }

  &__block {
    display: flex;
    margin-bottom: 91px;

    img {
      width: 100%;
      max-width: 222px;
      height: 100%;
      max-height: 450px;
    }
  }

  .ready-solutions__block {
    img {
      padding-right: 51px;
    }
  }

  &__card-text {
    width: 100%;
    max-width: 289px;
  }

  &__but-more {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #4956C6;
    border-radius: 7px;
    border: none;
    width: 170px;
    height: 34px;
  }

  &__but-soon {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #6E7191;
    background: #EFF0F7;
    border-radius: 7px;
    border: none;
    width: 170px;
    height: 34px;
  }

  & .card-text-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 130%;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.05em;
    color: #4E4B66;
  }

  & .card-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 155%;
    letter-spacing: 0.07em;
    color: #151515;
  }
}