@media (max-width: 1024px) {
  .ready-solutions {
    &__title-block {
      flex-direction: column;
      align-items: center;
    }

    &__title-text {
      font-size: 22px;
    }

    &__text {
      font-size: 13px;
      text-align: center;
    }


    &__block{
      text-align: center;
      align-items: center;
      flex-direction: column;
    }

    & .card-text-title {
      font-size: 18px;
      justify-content: center;
    }


    &__block-inner {
      flex-direction: column;
    }


    &__img{
      width: 100%;
      max-width: 125px;
      height: 100%;
      margin: 0 auto;
      max-height: 253px ;
      padding-right: 0;
    }
    .img{
      display: flex;
      justify-content: space-between;
    }
  }
}

