.d-none{
  display: none !important;
}
@media (min-width: 540px) {
  .d-sm-none{
    display: none !important;
  }
  .d-sm-block{
    display: block !important;
  }
  .d-sm-inline-block{
    display: inline-block !important;
  }
  .d-sm-flex{
    display: flex !important;
  }
  .d-sm-inline-flex{
    display: inline-flex !important;
  }
}


@media (min-width: 720px) {
  .d-md-none{
    display: none !important;
  }
  .d-md-block{
    display: block !important;
  }
  .d-md-inline-block{
    display: inline-block !important;
  }
  .d-md-flex{
    display: flex !important;
  }
  .d-md-inline-flex{
    display: inline-flex !important;
  }
}

@media (min-width: 960px) {
  .d-lg-inline-flex {
    display: inline-flex !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
}

@media (min-width: 1024px) {
  .d-xl-inline-flex {
    display: inline-flex !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-none {
    display: none !important;
  }


}

@media (min-width: 977px) {
  .d-xl-xl-flex {
    display: flex !important;
  }
}

@media (min-width: 1366px) {
  .d-ld-block{
    display: block !important;
  }
  .d-ld-flex{
    display: flex !important;
  }
  .d-ld-none{
    display: none !important;
  }
}