// Fonts vars

@font-futura-medium: "Futura-Medium", "Arial", sans-serif;
@min-width: 320px;
@f-base-family: @font-futura-medium;
@f-base-size: 16px;
@f-base-height: 1.4;
@f-base-weight: 400;

@time: 0.2s;
@time-modal: 0.4s;
